.birthdate-input-container {
  display: flex;
  justify-content: center;
  

}

.birthdate-input {
  align-self: center;
  border-color: black;
  border-width: 1em;

}

.age-display {
  display: block
}